body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: white;
}

.remove-outline {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.home-page {
    overflow: auto;
}

::-webkit-scrollbar-track {
    background-color: #5FA8D3;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #5FA8D3;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: linear-gradient(79.8deg, rgba(101, 132, 154, 1) 3.2%, rgba(160, 197, 201, 1) 89.1%);
}

.my-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

/* ==================================================
    HEADER
   ================================================*/
.header-container {
    min-height: 64px;
    max-height: 64px;
    background-color: #5FA8D3;
    border-radius: 0 0 5px 5px;
}

.header-content-container {
    font-size: 1.1rem;
    font-weight: 500;
}

.header-content-container a {
    padding: 0;
    color: white;
}

.header-content-container a:hover {
    font-size: 1.2rem;
}

.header-logo-container {
    min-width: 64px;
    max-width: 64px;
    min-height: 64px;
    max-height: 64px;
}

.header-logo-container img {
    min-width: 64px;
    max-width: 64px;
    min-height: 64px;
    max-height: 64px;
}

.header-search-box-button {
    background-color: #a6a6a6;
    color: white;
    min-width: 150px;
    max-width: 150px;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    cursor: pointer;
}

.header-search-box-button:hover {
    background-color: #c0c0c0;
    color: white;
}

.header-search-box-button img {
    max-width: 20px;
    max-height: 20px;
}

.header-shopping-cart img {
    max-width: 20px;
    max-height: 20px;
}

.header-shopping-cart button {
    border: 2px solid white;
}

.header-shopping-cart-title {
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 100;
    color: white;
}

.header-shopping-cart-count {
    margin-left: 5px;
    min-width: 20px;
    border-radius: 3px;
    background-color: #f90;
    color: white;
}

.header-user-account img {
    max-width: 20px;
    max-height: 20px;
}

.header-user-account button {
    border: 2px solid white;
}

.dropdown-toggle::after {
    display: none;
}

.header-user-account button span {
    margin-top: 1px;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 100;
    color: white;
}

.header-user-account button img:last-child {
    max-width: 13px;
    max-height: 13px;
}

.header-user-account>div {
    min-width: 184px;
    max-width: 184px;
}

.header-user-account .color-red {
    color: red;
}

/* ==================================================
    MAIN SLIDER
   ================================================*/
.main-slider-container {
    margin-top: 64px;
    background-image: url("http://designarc.biz/demos/cake/theme/cake-html/img/welcome-bg.jpg");
}

.main-slider-carousel-inner {
    border-radius: 5px;
    max-height: calc(100vh - 64px);
    background-image: url("http://z6z7q2p8.stackpathcdn.com/wp-content/uploads/revslider/home-01/bg-slide-1.jpg");
    position: relative;
}

.main-slider-carousel-item-container {
    min-height: 700px;
    max-height: 700px;
}

.main-slider-carousel-item-image-container {
    min-width: 420px;
    max-width: 420px;
    min-height: 400px;
    max-height: 400px;
}

.main-slider-carousel-item-image-container img {
    width: 100%;
    height: 100%;
}

.main-slider-carousel-item-info-container {
    min-height: 400px;
    max-height: 400px;
}

.main-slider-carousel-item-info-title-container {
    min-height: 60px;
    /*color: #E47277;*/
    color: #5FA8D3;
    font-size: 2rem;
}

.main-slider-carousel-item-info-description-container {
    min-height: 100px;
    max-height: 100px;
    color: #7A7A7A;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-slider-carousel-item-info-button-container {
    min-width: 170px;
    max-width: 170px;
    min-height: 47px;
    max-height: 47px;
}

.main-slider-carousel-item-info-button-container button {
    min-height: 47px;
    border: 1px solid #5FA8D3;
    color: #5FA8D3;
    font-size: 1.2rem;
    transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    fill: #5FA8D3;
}

.main-slider-carousel-item-info-button-container button:hover {
    background-color: #5FA8D3;
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #5FA8D3 0 80px 0 2px inset;
    color: white;
    fill: white;
}

.main-slider-carousel-item-info-button-container button svg {
    min-width: 15px;
    max-width: 15px;
    min-height: 15px;
    max-height: 15px;
}

.main-slider-info-card {
    background-color: white;
    min-width: 1200px;
    min-height: 200px;
    margin-top: -100px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 2 !important;
    will-change: transform;
}

.main-slider-info-card-container {
    background-color: transparent;
    min-height: 100%;
    border: 1px dashed #D6D6D6;
}

.main-slider-info-card-content-container {
    min-height: 168px;
    max-height: 168px;
}

.main-slider-info-card-content-container img {
    transition-duration: 500ms;
}

.main-slider-info-card-content-container img:hover {
    transform: scale(1.2);
}

.main-slider-info-card-content-title {
    max-height: 40px;
    font-size: 1.3rem;
    color: #5e3c3e;
}

.main-slider-info-card-content-description {
    max-height: 60px;
    font-size: 0.9rem;
    color: #7A7A7A;
}

/* ==================================================
    SHOW PRODUCTS
   ================================================*/
.section-show-products {
    border-radius: 5px;
    background-image: url("http://designarc.biz/demos/cake/theme/cake-html/img/welcome-bg.jpg");
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
}

.section-show-products:before {
    content: "";
    background: url(http://designarc.biz/demos/cake/theme/cake-html/img/w-left-techture.png) no-repeat scroll center center;
    position: absolute;
    left: 0px;
    top: 920px;
    height: 685px;
    width: 237px;
    z-index: 1;
}

.section-show-products:after {
    content: "";
    background: url(http://designarc.biz/demos/cake/theme/cake-html/img/w-right-techture.png) no-repeat scroll center center;
    position: absolute;
    right: 0px;
    top: 920px;
    height: 701px;
    width: 250px;
    z-index: 1;
}

.show-products-header {
    color: #5e3c3e;
    min-height: 190px;
}

.show-products-header h3 {
    font-family: 'Roboto Slab', sans-serif;
}

.show-products-header-break {
    min-width: 500px;
}

.show-products-header-line {
    width: 100px;
    max-height: 2px;
    border-top: 1px dotted #dddddd;
}

.show-products-card-container {
    min-width: 1200px;
}

.show-products-card {
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
}

.show-products-card-img-container {
    max-height: 270px;
    border-radius: 5px;
}

.show-products-card-img-container figure {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
}

.show-products-card-img-container img {
    opacity: 0.85;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 100%;
    transform: scale(1.01);
    transition-duration: 300ms;
}

.show-products-card-img-container img:hover {
    opacity: 1;
    transform: scale(1.07);
}

.show-products-card-info-container {}


.show-products-card-info-title a {
    color: #5e3c3e;
    min-height: 25px;
    font-size: 1.1rem;
    text-decoration: none !important;
    transition-duration: 300ms;
}

.show-products-card-info-title a:hover {
    font-weight: 700;
    transform: scale(1.1);
}

.show-products-card-info-price {
    color: #5FA8D3;
    min-height: 25px;
    font-size: 1.2rem;
    font-weight: 700;
}

.show-products-card-info-add-to-cart {
    margin-bottom: -20px;
}

.show-products-card-info-add-to-cart button {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: #5FA8D3;
    border-radius: 5px;
    max-width: 140px;
    min-height: 40px;
    font-size: 0.9rem;
    font-weight: 700;
    transition-duration: 250ms;
}

.show-products-card-info-add-to-cart button:hover {
    color: white;
    background-color: #5FA8D3;
    border: 1px solid #5FA8D3;
}

.show-products-card-view-more button {
    background-color: #5FA8D3;
    min-width: 300px;
    min-height: 64px;
    border: 1px solid #5FA8D3;
    color: white;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1.4rem;
    transition-duration: 300ms;
    font-weight: 700;
}

.show-products-card-view-more button:hover {
    background-color: transparent;
    color: #5FA8D3;
}

.footer {
    min-height: 1100px;
    background-color: #1b1b1b;
    font-weight: 400;
    color: #aaaaaa;
    font-size: 13px;
}

.footer-wrap-content {
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
    padding-top: 60px;
    min-height: 1100px;
}

.footer-wrap-content:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
    background-repeat: repeat;
    background-image: url(http://z6z7q2p8.stackpathcdn.com/wp-content/themes/cakeart/images/wave-line.png);
}

.footer-title {
    font-size: 1.3rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

.footer-connection-title h4 {}

.footer-connection-content {
    font-family: 'Poppins', sans-serif;
    color: #dddddd;
    font-weight: 300;
    font-size: 0.9rem;
}

.footer-connection-name {
    font-size: 1.2rem;
}

.footer-connection-address {
    line-height: 1.5;
}

.footer-connection-social-media li a {
    display: inline-block;
    text-align: center;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #7b7b7c;
    font-size: 1rem;
    line-height: 35px;
    transition: all 300ms linear 0s;
}

.footer-connection-social-media li a:hover {
    color: #5FA8D3;
    border: 1px solid #5FA8D3;
}